body {
    width: 100%;
}

body:before,
body:after {
    content: "";
    display: table;
}

body:after {
    clear: both;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,
strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}


p{    text-indent:2em;}

ol,ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    vertical-align: middle;
}

caption,th,td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

a img {
    border: none;
}

input,
button {
    margin: 0;
    padding: 0;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

@font-face {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/fontawesome-webfont.eot?v=#4.0.3");
    src: url("fonts/fontawesome-webfont.eot?#iefix&v=#4.0.3") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff?v=#4.0.3") format("woff"), url("fonts/fontawesome-webfont.ttf?v=#4.0.3") format("truetype"), url("fonts/fontawesome-webfont.svg#fontawesomeregular?v=#4.0.3") format("svg");
}

html,body,#container {
    height: 100%;
}

body {
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    line-height: 1;
    color: #ddd;
    background: #333;
}

.outer {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
}

.outer:before,
.outer:after {
    content: "";
    display: table;
}

.outer:after {
    clear: both;
}

.inner {
    display: inline;
    float: left;
    width: 98.33333333333333%;
    margin: 0 0.833333333333333%;
}

.left,
.alignleft {
    float: left;
}

.right,
.alignright {
    float: right;
}

.clear {
    clear: both;
}

#container {
    position: relative;
}

.mobile-nav-on {
    overflow: hidden;
}

#wrap {
    height: 300px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    z-index: 1;
    background: #eee;
}

.mobile-nav-on #wrap {
    left: 280px;
}

@media screen and (min-width: 768px) {
    #main {
        display: inline;
        float: left;
        width: 73.33333333333333%;
        margin: 0 0.833333333333333%;
    }
}

.article-date,
.article-category-link,
.archive-year,
.widget-title {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
    margin-bottom: 1em;
    margin-left: 5px;
    line-height: 1em;
    text-shadow: 0 1px #fff;
    font-weight: bold;
}

.article-inner,
.archive-article-inner {
    background: #666;
    -webkit-box-shadow: 1px 2px 3px #ddd;
    box-shadow: 1px 2px 3px #ddd;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.article-entry h1,
.widget h1 {
    font-size: 2em;
}

.article-entry h2,
.widget h2 {
    font-size: 1.5em;
}

.article-entry h3,.widget h3 {
    font-size: 1.3em;
}

.article-entry h4,.widget h4 {
    font-size: 1.2em;
}

.article-entry h5,.widget h5 {
    font-size: 1em;
}

.article-entry h6,.widget h6 {
    font-size: 1em;
    color: #999;
}

.article-entry hr,.widget hr {
    border: 1px dashed #ddd;
}

.article-entry strong,.widget strong {
    font-weight: bold;
}

.article-entry em,.widget em,.article-entry cite,.widget cite {
    font-style: italic;
}

.article-entry sup,.widget sup,.article-entry sub,.widget sub {
    font-size: 0.75em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.article-entry sup,.widget sup {
    top: -0.5em;
}

.article-entry sub,.widget sub {
    bottom: -0.2em;
}

.article-entry small,.widget small {
    font-size: 0.85em;
}

.article-entry acronym,.widget acronym,.article-entry abbr,.widget abbr {
    border-bottom: 1px dotted;
}
.article-entry ul,.widget ul,.article-entry ol,.widget ol,.article-entry dl,.widget dl {    margin: 0 20px;
    line-height: 1.6em;
}

.article-entry ul ul,.widget ul ul,.article-entry ol ul,.widget ol ul,.article-entry ul ol,.widget ul ol,.article-entry ol ol,.widget ol ol {
    margin-top: 0;
    margin-bottom: 0;
}

.article-entry ul,.widget ul {
    list-style: disc;
}

.article-entry ol,.widget ol {
    list-style: decimal;
}

.article-entry dt,.widget dt {
    font-weight: bold;
}

#header {
    height: 300px;
    position: relative;
}

#header:before,#header:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 40px;
}

#header:before {
    top: 0;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), transparent);
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.2), transparent);
    background: -ms-linear-gradient(rgba(0, 0, 0, 0.2), transparent);
    background: linear-gradient(rgba(0, 0, 0, 0.2), transparent);
}

#header:after {
    bottom: 0;
    background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    background: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    background: -ms-linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}

#header-outer {
    height: 100%;
    position: relative;
}

#header-inner {
    position: relative;
    overflow: hidden;
}

#banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("./images/banner.jpg") center #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    z-index: -1;
}

#header-title {
    text-align: center;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -20px;
}

#logo,
#subtitle {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

#logo {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 2px;
}

#subtitle {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1px;
}

#subtitle-wrap {
    margin-top: 16px;
}

.head-portrait {
    width: 150px;
    margin-top: 120px;
}

.head-portrait img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.head-portrait a {
    text-decoration: none;
    color: #fdfdfd;
    width: 150px;
    display: inline-block;
    text-align: center;
    margin: 5px auto;
    letter-spacing:4px
}


#main-nav {
    float: left;
    margin-left: -15px;
}

.nav-icon,
.main-nav-link {
    float: left;
    color: #fff;
    opacity: 0.6;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    transition: opacity 0.2s;
    display: block;
    padding: 20px 15px;
}

.nav-icon:hover,
.main-nav-link:hover {
    opacity: 1;
}

.nav-icon {
    font-family: FontAwesome;
    text-align: center;
    font-size: 14px;
    width: 14px;
    height: 14px;
    padding: 20px 15px;
    position: relative;
    cursor: pointer;
}

.main-nav-link {
    font-weight: 300;
    letter-spacing: 1px;
}

@media screen and (max-width: 479px) {
    .main-nav-link {
        display: none;
    }
}

@media screen and (max-width: 479px) {
    .main-nav-link {
        display: none;
    }
}

#main-nav-toggle {
    display: none;
}

#main-nav-toggle:before {
    content: "\f0c9";
}

@media screen and (max-width: 479px) {
    #main-nav-toggle {
        display: block;
    }
}

#sub-nav {
    float: right;
    margin-right: -15px;
}

#nav-rss-link:before {
    content: "\f09e";
}

#nav-search-btn:before {
    content: "\f002";
}

#search-form-wrap {
    position: absolute;
    top: 15px;
    width: 150px;
    height: 30px;
    right: -150px;
    opacity: 0;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}

#search-form-wrap.on {
    opacity: 1;
    right: 0;
}

@media screen and (max-width: 479px) {
    #search-form-wrap {
        width: 100%;
        right: -100%;
    }
}

.search-form {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 5px 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.search-form-input {
    border: none;
    background: none;
    color: #555;
    width: 100%;
    font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: none;
}

.search-form-input::-webkit-search-results-decoration,
.search-form-input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.search-form-submit {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -7px;
    font: 13px FontAwesome;
    border: none;
    background: none;
    color: #bbb;
    cursor: pointer;
}

.search-form-submit:hover,
.search-form-submit:focus {
    color: #777;
}
